.hero {
  width: 100%;
  height: var(--content-height);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero > :nth-child(2) {
  width: var(--content-width);
}

.hero__main {
  width: var(--content-width);
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.hero__left {
  flex: 1;
  padding: var(--default-padding) 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  gap: var(--default-gap);
}

.hero__left > :nth-child(1) {
  position: absolute;
  top: 244px;
  right: -75px;
  width: 70%;
  z-index: -1;
}
.hero__left > :nth-child(2) {
  font-size: var(--subtitle-text);
  padding-top: 2rem;
  font-family: var(--font-poppins);
  font-weight: bold;
  color: var(--orange);
  text-transform: uppercase;
}

.hero__left > :nth-child(3) {
  font-family: var(--font-volkhov);
  font-size: var(--large-text);
  font-weight: bold;
  color: var(--dark-blue);
  letter-spacing: -3px;
  line-height: calc(var(--large-text) * 1.05);
}

.hero__left > :nth-child(4) {
  font-family: var(--font-poppins);
  font-size: var(--paragraph-text);
  font-weight: 500;
  color: var(--grey);
}

.hero__left-cta {
  display: flex;
  gap: calc(var(--default-gap) * 1.5);
  justify-content: center;
  align-items: center;
}

.hero__left-cta-btn {
  font-family: var(--font-open-sans);
  font-size: var(--text-size);
  font-weight: 500;
  color: white;
  background-color: var(--yellow);
  border-radius: 8px;
  padding: 14px 22px;
  cursor: pointer;
}

.hero__left-cta-play {
  display: flex;
  gap: var(--default-gap);
  justify-content: center;
  align-items: center;
}

.hero__left-cta-play > p {
  font-family: var(--font-poppins);
  font-size: var(--text-size);
  color: var(--grey);
  font-weight: 500;
}

.hero__left-cta-play > div {
  background-color: var(--orange);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hero__left-cta-play > div > :first-child {
  color: white;
  padding-left: 3px;
  width: 30px;
  height: 30px;
}

.hero__background {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.hero__background > div {
  flex: 1;
}

.hero__background > img {
  flex: 1;
  object-fit: fill;
}

.hero__right {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex: 1;
  height: 100%;
}

.hero__right > :nth-child(1) {
  position: absolute;
  top: -70px;
  right: -45px;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.hero__right > :nth-child(2) {
  position: absolute;
  top: 20px;
  left: -10px;
  width: 30%;
  height: 30%;
}

.hero__right > :nth-child(3) {
  position: absolute;
  top: 90px;
  right: -70px;
  width: 30%;
  height: 30%;
}

@media only screen and (min-width: 400px) {
}

@media only screen and (min-width: 500px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 960px) {
}

@media only screen and (min-width: 1280px) {
  .hero {
    padding: 70px 60px 40px 60px;
    margin-bottom: 30px;
  }

  .hero__left > :nth-child(1) {
    top: 244px;
    right: -75px;
    width: 70%;
  }

  .hero__left > :nth-child(2) {
    padding-top: 2rem;
  }

  .hero__left-cta {
    margin-top: var(--default-padding);
  }

  .hero__left-cta-btn {
    padding: 14px 22px;
  }

  .hero__left-cta-play > div {
    width: 45px;
    height: 45px;
  }

  .hero__left-cta-play > div > :first-child {
    padding-left: 3px;
    width: 30px;
    height: 30px;
  }

  .hero__background {
    bottom: 60px;
  }

  .hero__background > img {
    object-fit: contain;
  }

  .hero__right > :nth-child(1) {
    top: 20px;
    right: 60px;
  }

  .hero__right > :nth-child(2) {
    top: 20px;
    left: -10px;
    width: 30%;
    height: 30%;
  }

  .hero__right > :nth-child(3) {
    top: 90px;
    right: -70px;
    width: 30%;
    height: 30%;
  }
}

@media only screen and (min-width: 1600px) {
}

@media only screen and (min-width: 1920px) {
}
