.selling {
  width: 100%;
  height: auto;
  padding: var(--half-padding) var(--site-padding);
  overflow: hidden;
  position: relative;
}

.selling__grid {
  margin-top: var(--default-padding);
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: 60px;
}

.selling__deco{
    width: auto;
    height: auto;
    position: absolute;
    bottom: 100px;
    right: 85px;
    z-index: -1;
}