.selling {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin-top: var(--section-margin-top);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.selling__grid {
  width: var(--content-width);
  margin-top: var(--default-padding);
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: 60px;
}

.selling__deco{
    width: auto;
    height: auto;
    position: absolute;
    bottom: 100px;
    right: 85px;
    z-index: -1;
}

@media only screen and (min-width: 400px) {

}

@media only screen and (min-width: 500px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 960px) {
  .selling__grid {
    gap: 40px;
    padding: 0 35px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .selling__deco{
      width: auto;
      height: auto;
      bottom: 100px;
      right: 85px;
  }
}

@media only screen and (min-width: 1280px) {
  .selling__grid {
    gap: 50px;
    padding: 0 40px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .selling__deco{
      width: auto;
      height: auto;
      bottom: 100px;
      right: 85px;
  }
}

@media only screen and (min-width: 1600px) {
  .selling__grid {
    gap: 80px;
    padding: 0 40px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .selling__deco{
      width: auto;
      height: auto;
      bottom: 100px;
      right: 85px;
  }
}

@media only screen and (min-width: 1920px) {
  .selling__grid {
    gap: 120px;
    padding: 0 50px;
    margin-top: 75px;
    margin-bottom: 60px;
  }
  
  .selling__deco{
      width: auto;
      height: auto;
      bottom: 100px;
      right: 85px;
  }
}