.testimonials {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--section-margin-top);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.testimonials > div{
  width: var(--content-width);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 60px;
}

.testimonials__left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.testimonials__left > :nth-child(2) {
  margin-top: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.testimonials__left > :nth-child(2) > div {
  background-color: #e5e5e5;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.testimonials__left > :nth-child(2) > :first-child {
  background-color: var(--black);
}

.testimonials__right {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.testimonials__right > :first-child {
  width: 70%;
  height: auto;
  position: relative;
}

.testimonials-card {
  background-color: white;
  border-radius: 8px;
  padding: var(--default-padding);
  width: 100%;
  height: 220px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.active-card {
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.12);
}

.inactive-card {
  border: solid 1px #f7f7f7;
  position: absolute;
  bottom: -72px;
  left: 46px;
  z-index: -1;
}

.active-card > :first-child {
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
  color: var(--grey);
  margin-top: 10px;
  margin-right: 20px;
}

.inactive-card > :first-child {
  visibility: hidden;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
  color: var(--grey);
  margin-top: 10px;
  margin-right: 20px;
}

.testimonials-card > div > :nth-child(1) {
  font-family: var(--font-poppins);
  font-size: 18px;
  font-weight: 600;
  color: var(--grey);
}

.testimonials-card > div > :nth-child(2) {
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 500;
  color: var(--grey);
}

.testimonials-card-user {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  top: -16px;
  left: -36px;
}

.testimonials-card-user img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonials__right > :last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: absolute;
  right: -30px;
  top: 0;
  bottom: 0;
}

.active-icon {
  color: var(--black);
  width: 30px;
  height: 30px;
}

.inactive-icon {
  color: #bcb7c2;
  width: 30px;
  height: 30px;
}

@media only screen and (min-width: 400px) {

}

@media only screen and (min-width: 500px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 960px) {

}

@media only screen and (min-width: 1280px) {
  .testimonials > div{
    margin-bottom: 60px;
  }

  .testimonials__left > :nth-child(2) {
    margin-top: 5rem;
    gap: 15px;
  }

  .testimonials__right > :last-child {
    gap: 25px;
    right: -30px;
  }

}

@media only screen and (min-width: 1600px) {
  
}

@media only screen and (min-width: 1920px) {
  
}