.brands {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--section-margin-top);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.brands__list {
  width: var(--content-width);
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brands__list div {
  background-color: white;
  border-radius: 8px;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
}

.brands__list div > img {
  width: 120%;
  height: auto;
  
}

.brands__list div:hover {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.08);
  filter: grayscale(0%);
}

@media only screen and (min-width: 400px) {

}

@media only screen and (min-width: 500px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 960px) {

}

@media only screen and (min-width: 1280px) {
  .brands__list div {
    border-radius: 8px;
    padding: 15px 25px;
  }
}

@media only screen and (min-width: 1600px) {
  
}

@media only screen and (min-width: 1920px) {
  
}