@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@400;500;600;700&family=Volkhov:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-open-sans: "Open Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-volkhov: "Volkhov", serif;
  --yellow: #f1a501;
  --dark-blue: #181e4b;
  --orange: #df6951;
  --grey: #5e6282;
  --light-yellow: #fff1da;
  --black: #212832;
  --large-text: 84px;
  --title-text: 50px;
  --subtitle-text: 20px;
  --text-size: 18px;
  --paragraph-text: 16px;
  --site-padding: 144px;
  --default-padding: 80px;
  --half-padding: 48px;
  --default-gap: 32px;
  --content-width: 1120px;
  --content-height: 640px;
  --section-margin-top:100px;
}

@media only screen and (min-width: 400px) {
}

@media only screen and (min-width: 500px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 960px) {
  :root {
    --large-text: 64px;
    --title-text: 40px;
    --subtitle-text: 18px;
    --text-size: 16px;
    --paragraph-text: 15px;
    --site-padding: 16px;
    --default-padding: 8px;
    --half-padding: 4;
    --default-gap: 8px;
    --content-width: 880px;
    --content-height: 520px;
    --section-margin-top:55px;
  }
}

@media only screen and (min-width: 1280px) {
  :root {
    --large-text: 84px;
    --title-text: 50px;
    --subtitle-text: 20px;
    --text-size: 18px;
    --paragraph-text: 16px;
    --site-padding: 20px;
    --default-padding: 10px;
    --half-padding: 5px;
    --default-gap: 10px;
    --content-width: 1140px;
    --content-height: 640px;
    --section-margin-top:70px;
  }
}

@media only screen and (min-width: 1600px) {
  :root {
    --large-text: 100px;
    --title-text: 60px;
    --subtitle-text: 24px;
    --text-size: 20px;
    --paragraph-text: 18px;
    --site-padding: 30px;
    --default-padding: 15px;
    --half-padding: 8px;
    --default-gap: 16px;
    --content-width: 1360px;
    --content-height: 860px;
    --section-margin-top:100px;
  }
}

@media only screen and (min-width: 1920px) {
  :root {
    --large-text: 120px;
    --title-text: 65px;
    --subtitle-text: 26px;
    --text-size: 22px;
    --paragraph-text: 20px;
    --site-padding: 40px;
    --default-padding: 20px;
    --half-padding: 10px;
    --default-gap: 20px;
    --content-width: 1600px;
    --content-height: 960px;
    --section-margin-top:120px;
  }
}

.body {
  background-color: white;
}

.web-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}